<div class="row">
  <div class="col-md-6 mt-5">
    <p class="display-4 text-primary">
      Assets Management System
    </p>
  </div>
  <div class="col-md-3 offset-md-2 mt-5">
    <p class="text-white bg-danger p-1 text-center" *ngIf="ErrorMessage">
      {{ErrorMessage}}
    </p>
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" class="form-control" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="username">Password</label>
        <input type="password" class="form-control" name="password" ngModel>
      </div>
      <div class="form-group text-right">
        <a class="btn btn-sm btn-link mr-2" (click)="toggle()">{{signupLabel}}</a>
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        <button class="btn btn-success m-1" type="submit">{{loginLabel}}</button>
      </div>
    </form>
  </div>
</div>

